body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.accueil-page {
  background-color: #ffffff;
  color: #00497c;

  h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
  }

  .btn-primary {
    background-color: #00497c;
    border-color: #00497c;
  }

  .btn-outline-primary {
    color: #00497c;
    border-color: #00497c;
  }

  .hero {
    background: linear-gradient(120deg, #007bff 0%, #00aaff 100%);
    color: white;
  }
}
